{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte est crée avec cette adresse mail, un email vient juste de voue être envoyé. Ce mail contient un lien pour créer un nouveau mot de passe.
        Le lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez rien, veuillez vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
