{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()  }} | Page d'erreur
{% endblock %}

{% block body %}
    {% for i in 0..3 %}
        <h2 style="color: crimson; text-align: center">ERROR - ERROR - ERROR - ERROR - ERROR - ERROR - ERROR - ERROR</h2>
    {% endfor %}
        <h1 style="text-align: center">X The Death page X</h1>
        <pre>                                                                                     ______
                                                                                  .-"      "-.
                                                                                 /            \
                                                                     _          |              |          _
                                                                    ( \         |,  .-.  .-.  ,|         / )
                                                                     > "=._     | )(__/  \__)( |     _.=" <
                                                                    (_/"=._"=._ |/     /\     \| _.="_.="\_)
                                                                           "=._ (_     ^^     _)"_.="
                                                                               "=\__|IIIIII|__/="
                                                                              _.="| \IIIIII/ |"=._
                                                                    _     _.="_.="\          /"=._"=._     _
                                                                   ( \_.="_.="     `--------`     "=._"=._/ )
                                                                    > _.="                            "=._ <
                                                                   (_/                                    \_)</pre>

        <h1 style="text-align: center">Si vous etes arrivés ici, c'est que vous avez fait fausse route</h1>
    {% for i in 0..3 %}
        <h2 style="color: crimson; text-align: center">ERROR - ERROR - ERROR - ERROR - ERROR - ERROR - ERROR - ERROR</h2>
    {% endfor %}
{% endblock %}