{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()  }} | Page d'erreur
{% endblock %}

{% block body %}
    <h2 style="text-align: center">Si vous etes arrivés ici, c'est que vous avez fait fausse route</h2>
    <a href="{{ path('sortie_liste') }}"><button class="btn btn-primary btn-lg btn-block">Ramene moi en lieu sûr</button></a>
        <pre>                                                   ______
                                                .-"      "-.
                                               /            \
                                   _          |              |          _
                                  ( \         |,  .-.  .-.  ,|         / )
                                   > "=._     | )(__/  \__)( |     _.=" <
                                  (_/"=._"=._ |/     /\     \| _.="_.="\_)
                                         "=._ (_     ^^     _)"_.="
                                             "=\__|IIIIII|__/="
                                            _.="| \IIIIII/ |"=._
                                  _     _.="_.="\          /"=._"=._     _
                                 ( \_.="_.="     `--------`     "=._"=._/ )
                                  > _.="                            "=._ <
                                 (_/                                    \_)</pre>


    {% for i in 0..3 %}
        <p style="color: crimson; text-align: center">ERROR - ERROR - ERROR - ERROR - ERROR - ERROR</p>
    {% endfor %}
{% endblock %}