{% extends 'base.html.twig' %}

{% block title %}Ajouter un fichier CSV{% endblock %}

{% block body %}
    <div class="jumbotron mt-2">
        <h1 class="text-center display-4 lead">Ajouter votre fichier CSV</h1>
    </div>
    <form method="POST" action="{{ path('profil_csv') }}" enctype="multipart/form-data">
        <div class="bordure text-center">
            <label>Csv File</label>
            <input type="file" name="csvFile">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Upload</button>
    </form>
    <a href="{{ path('profil_affichage') }}"><button class="btn btn-dark btn-lg btn-block w-100">Annuler</button></a>

{% endblock %}